<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Burger Menu</title>
	<style>
		html {
			background-color: #FFC04C;
		}

		.burgerAvailable {
			font-weight: normal;
			font-size: 20px;
			text-align: center;
			border-radius: 25px;
			margin: 10px;
			padding: 10px;
			background-color: #b7ffc2;
			border: none;
		}

		input, button {
			font-size: 20px;
			text-align: center;
			margin: 10px;
			padding: 10px;
		}
	</style>
</head>

<body>

	{{{ body }}}

</body>

</html>