<h1>Burger Eater</h1>

<h3>Create and eat your own burgers!</h3>

<ul>
    {{#each burgers}}
    <li>
        <p>ID: {{this.id}}</p>
        <p>Burger: {{this.burger_name}}</p>
        <p>Devoured: {{this.devoured}}</p>
    </li>
    {{/each}}
</ul>

<form action="/" method="POST">
    <textarea id="newBurger" type="text" name="burger"></textarea>

    <button class="submit" type="submit">Submit</button>
</form>